@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2 ;
}


.bg-primary{
  background:#501B1D;
}
.bg-secondary{
  background: #752f61e8;
}
.mobile-nav{
  @apply fixed top-10 left-0 bg-slate-800 w-full h-1/4;
   
}
.mobile-nav  li{
  @apply w-full h-full text-center border-b-2 ;
}
.Projects-desc{
  @apply absolute left-0 right-0 bottom-0 top-0 bg-primary opacity-0 duration-500 hover:opacity-100 ;
}
.btn{
  @apply bg-secondary px-5 py-2 font-bold border-2 rounded;
  @layer border-primary;
}
html{
  scroll-behavior: smooth;
}